@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--bg-dark: #010a42;
	--bg-darkblue: #1c255b;
	--bg-muted-darkblue: #252f6e;
	--darkblue: #262e69;
	--yellow: #ffb12a;
	--red: #ff2e62;
	--green: #01cb87;
	--beige: #ffeac6;
	--pink: #ffc1c2;
	--purple: #6259ff;
	--lightgrey: #f7f7f7;
	--grey: #bbb;
	--darkgrey: #333;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-dark);
	min-height: 100vh;
	margin: 0;
	padding: 0;
}
